altair                    
anyio                     
attrs                     
blinker                   
cachetools               
certifi                   
charset-normalizer        
click                     
gitdb                    
GitPython                 
h11                      
httptools                 
idna                     
itsdangerous             
Jinja2                    
jsonschema                
jsonschema-specifications 
MarkupSafe                
narwhals                  
numpy                     
packaging                 
pandas                   
pillow                    
pip                       
plotly                    
protobuf                  
pyarrow                   
pydeck                    
python-dateutil           
python-multipart          
referencing               
requests                 
rpds-py                   
six                       
smmap                     
starlette                 
streamlit                 
tenacity                  
toml                      
typing_extensions        
urllib3                   
uvicorn                   
watchdog                  
websockets                
